header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position:absolute;
    top: 110px;
    right:0;
}


nav li {
    display: inline;
    margin: 0 0 0 15px;
}


nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

#banner {
	width: 100%;
}
	
.principal {
	background: #CCCCCC;
	padding: 40px;
}

.titulo-centralizado-sobre {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 15px;
}

p {
	text-align: center;
	margin-bottom: 10px;
}

#missao {
	font-size: 18px;
	text-decoration: underline;
}

.titulo-centralizado-beneficios {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 30px;
}


.itens {
	border: 4px solid #000000;
	margin: 70px 0;
	padding: 5px;
	text-align: center;
}

.beneficios {
	background: #FFFFFF;
	padding: 30px;
}


.beneficios ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width:60%;
}

footer{
    text-align: center;
    background: url('bg.jpg');
    padding: 40px 0;
}

.texto-footer{
    color: #FFF;
    font-size: 13px;
    margin-top: 20px;
}